<tr>
	<td><%= email.address %></td>
	<td><%= link_to 'Remover Email', [email.cliente, email],
			method: :delete,
			data: { confirm: 'Tem certeza que deseja remover o email do cadastro?'} %></td>
</tr>
